app/server/node_modules
.env
app/server/logs
app/server/test-data
app/server/processing
app/server/thumbs
app/server/yarn-error.log
nginx-proxy.conf
container-conf/certbot/log
container-conf/certbot/conf/csr
serverlogs
