

//
//
// SASS VARIABLES & DECLARATIONS
// 
//
$primaryColor: maroon;
$blackColor: black;

//
//
// RESETS
// 
//
* {
  font-family: 'Comic Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $blackColor;
  text-decoration: none;

  &:hover, &:active, &:visited {
    color: $blackColor;
    text-decoration: none;
  }
  &:hover {
    font-weight: bold;
  }
}

//
//
// STRUCTURE / LAYOUT
// 
//


//
//
// COMPONENTS
// 
//
#brand {
  font-size: xx-large;
  color: $primaryColor;
  & a, & a:hover, & a:active, & a:visited {
    color: $primaryColor;
  }
}

//
//
// SMALL HELPERS / GENERIC STYLES / DETAILS
// 
//