

//
//
// SASS VARIABLES & DECLARATIONS
// 
//
$primaryColor: maroon;
$blackColor: black;
$silverColor: silver;
$greyColor: grey;

$headerHeight: 58px;
$margin: 8px;
$navWidth: 100px;

//
//
// RESETS
// 
//
* {
  font-family: 'Comic Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

a {
  color: $blackColor;
  text-decoration: none;

  &:hover, &:active, &:visited {
    color: $blackColor;
    text-decoration: none;
  }
  &:hover {
    font-weight: bold;
  }
}

//
//
// STRUCTURE / LAYOUT
// 
//
#header {
  padding: $margin;
  padding-top: ($margin * 1.5);
  border-bottom: 1px solid $silverColor;

  #top-right-links {
    float: right;
    position: relative;
  }
}

#content-container {
  position: absolute;
  top: $headerHeight + $margin;
  left: $margin;
  right: $margin;
  bottom: $margin;

  #side-menu {
    float: left;
    width: $navWidth;
    padding-right: $margin;
  }

  #results-space {
    margin-left: $navWidth + (2 * $margin) + 1;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
  }
}

#admin-page {
  #admin-side-menu {
    float: left;
    width: $navWidth;
    padding-right: $margin;
  }

  #admin-tab-content {
    margin-left: $navWidth + (2 * $margin) + 1;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
  }
}

#map-results-container {
  height: 100%;
	width: 100%;
	display: flex;
	// overflow-y: auto; // set this to auto to re-instate results container specific scroll and not page wide

	margin: 0 auto;
	// justify-content: center;
  background: yellow;

	#map-container {
    flex: 50%;
    height: 100%;
    display: flex;
    background: blue;

		// #map-container {
		// 	height: 100%;
		// 	width: 100%;
		// 	// padding: 0 0 $spacing $spacing;
    //   background: red;
		// }
	}

	#results-container {
    flex: 50%;
    overflow-y: auto;
		vertical-align: top;
    background: green;

		// padding: 0 ($spacing - $gridSpacing / 2) $spacing ($spacing - $gridSpacing / 2);
	}

	&.map-mode-enabled {
		overflow-y: auto;
		max-width: 100%;

		#map-results-wrapper {
			width: 100%;
			max-width: 100%;
		}

	}
}

//
//
// COMPONENTS
// 
//
#brand {
  font-size: xx-large;
  color: $primaryColor;
  & a, & a:hover, & a:active, & a:visited {
    color: $primaryColor;
  }
}

#search-input {
  border: 1px solid silver;

  .individual-query {
    display: inline-block;
    border: 1px solid gray;
    padding: 4px;
    margin: 4px;
  }

  #query-input {
    display: inline-block;
    border: 1px solid $primaryColor;
    padding: 4px;
    margin: 4px;
  }

  #reset-query-button {
    float: right;
  }
}

#sort-select {
  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 8px;

      &:last {
        margin-right: 0px;
      }
    }
  }
}


//
//
// SMALL HELPERS / GENERIC STYLES / DETAILS
// 
//